<div class="row">
  <div class="col-lg-6">
    <h1>
      <i class="fa fa-twitter"></i> <%= @username %>'s timeline
    </h1>
  </div>
  <div class="col-lg-2">
    <h1>
      <%= link_to '<i class="fa fa-sign-out"></i> Logout'.html_safe,
                  '/',
                  class: 'btn btn-danger pull-right',
                  style: 'width: 100%;'%>
    </h1>
  </div>
  <div class="col-lg-2">
    <h1>
      <%= link_to '<i class="fa fa-magic"></i> New Tweet'.html_safe,
                  '/tweets/' + @username + '/new',
                  class: 'btn btn-primary pull-right',
                  style: 'width: 100%;'%>
    </h1>
  </div>
  <div class="col-lg-2">
    <h1>
      <%= link_to '<i class="fa fa-users"></i> Show Users'.html_safe,
                  '/users/' + @username + '/',
                  class: 'btn btn-primary pull-right',
                  style: 'width: 100%;'%>
    </h1>
  </div>
</div>

<hr style="margin-top: 0;">

<div class="row">
  <div class="col-lg-4 col-xs-12">&nbsp;</div>
  <div class="col-lg-4 col-xs-12">
    <% if @tweets.length > 0 %>
        <% @tweets.each do |t| %>
            <div class="row">
              <div class="col-xs-12">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <i class="fa fa-twitter"></i> <%= t['username'] %>
                  </div>
                  <div class="panel-body">
                    <%= t['body'] %>
                  </div>
                  <div class="panel-footer text-right">
                    <%= Date.strptime((t['time'].to_f / 1000).to_s, '%s').strftime('%d %b %Y') %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% else %>
        <h2 class="text-center">
          There are yet no tweets to display.
        </h2>
    <% end %>
  </div>
  <div class="col-lg-4 col-xs-12">
    <h2 class="text-right">
      Following
    </h2>
    <hr>
      <% if @following.length > 0 %>
        <% @following.each do |f| %>
          <p><%= f['username'] %>
        <% end %>
      <% else %>
        <p class="text-right">
          You are not following any user.
        </p>
      <% end %>
    <hr>
    <h2 class="text-right">
      Followers
    </h2>
    <hr>
      <% if @followers.length > 0 %>
        <% @followers.each do |f| %>
          <p><%= f['username'] %>
        <% end %>
      <% else %>
        <p class="text-right">
          You are not following any user.
        </p>
      <% end %>
    <hr>
  </div>
</div>




<hr>